/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #333;
    padding: 16px;
    position: fixed;
    width: 100%;
    left: 0;
	top: 0;
}
.navbar a{
    color: white;
}
.navbar a:hover{
    color: white;
    text-decoration: none;
    background-color: #666;
}
.navbar__link {
    padding-right: 8px;
    padding-left:8px;
    margin-top: auto;
    margin-bottom: auto;
    color:white;
    border-right: 1px solid #666;
}
.last__navbar__link{
    border-right: none;
}
.navbar__items {
    display: flex;
    flex-direction: row;
}