@import url(navbar.css);
@import url(text-and-color.css);
@import url(box-model-styles.css);

@media(min-width:850px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px min-content min-content min-content;
        grid-template-areas: 
            "nav"
            "hd"
            "content"
            "ft";
        font-family: "Helvetica neue", Helvetica, sans-serif;
        font-weight:100;
    } 
    .content{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "fantasy fiction";
    }
    .card{
        padding: 3%; 
        margin: 20px;
    }
}

@media(max-width:849px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px min-content min-content min-content;
        grid-template-areas: 
            "nav"
            "hd"
            "content"
            "ft";
        padding-left: none;
        padding-right: none;
        margin-bottom: 10px;
        font-family: "Helvetica neue", Helvetica, sans-serif;
        font-weight:100;
    }
    .card{
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin:10px;
    }   
    .navbar__items {
        display:none;
    }
    .navbar__link {
        border-right: none;
    }
}
@media(max-width:575px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 35px min-content min-content min-content;
        grid-template-areas: 
            "nav"
            "hd"
            "content"
            "ft";
        padding-left: none;
        padding-right: none;
        margin-bottom: 10px;
        font-family: "Helvetica neue", Helvetica, sans-serif;
        font-weight:100;
    }
    .card{
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin:10px;
    }   
    .navbar__items {
        display:none;
    }
    .navbar__link {
        border-right: none;
    }
}

@media(max-width:450px){
    .container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows:  35px min-content min-content min-content;
        grid-template-areas: 
            "nav"
            "hd"
            "content"
            "ft";
        padding-left: none;
        padding-right: none;
        margin-bottom: 10px;
        font-family: "Helvetica neue", Helvetica, sans-serif;
        font-weight:100;
    }
    .card{
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin:10px;
    }   
    .navbar__items {
        display:none;
    }
    .navbar__link {
        border-right: none;
    }
}
.share{
    grid-area: share;
    margin:10px;
}
.navbar{
    grid-area:nav;
}
.title{
    grid-area:hd;
}
.footer{
    grid-area: ft; 
    background-color: lightgray;
    position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}
.fantasy-content{
    grid-area: fantasy;
}
.content{
    grid-area: content
}
.blank{
    grid-area: blank;
}
.fiction-content{
    grid-area: fiction;
}
.book-cover{
    grid-area:cover
}
.card{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "cover text";
}
.card3{
    margin-bottom:75px;
}